/* Global styles */
:global(*) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:global(html) {
  font-size: 20px;
  background-color: white;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-family: 'Nunito', sans-serif;
  color: #333;
}

:global(a) {
  color: #333;
  text-decoration: none;
}

:global(ul) {
  list-style: none;
}

:global(img) {
  width: 100%;
}

:global(button:disabled) {
  background-color: var(--clr-silver);
  cursor: not-allowed;
}

:global(button:disabled:hover) {
  background-color: var(--clr-silver);
  cursor: not-allowed;
}

:global(.container) {
  max-width: 1100px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 400px;
}

:global(footer) {
  text-align: center;
  font-weight: 300;
  color: var(--clr-asbestos);
  padding-bottom: 20px;
}

/* Material icons */
/* size */
:global(.material-icons.md-18) {
  font-size: 18px;
}
:global(.material-icons.md-24) {
  font-size: 24px;
}
:global(.material-icons.md-36) {
  font-size: 36px;
}
:global(.material-icons.md-48) {
  font-size: 48px;
}
/* color  */
:global(.material-icons.md-dark) {
  color: rgba(0, 0, 0, 0.54);
}
:global(.material-icons.md-dark.md-inactive) {
  color: rgba(0, 0, 0, 0.26);
}
:global(.material-icons.md-light) {
  color: rgba(255, 255, 255, 1);
}
:global(.material-icons.md-light.md-inactive) {
  color: rgba(255, 255, 255, 0.3);
}

/* Global colors */
:root {
  /* Blue */
  --clr-peterriver: #3498db;
  --clr-belizehole: #2980b9;

  /* Green */
  --clr-emerald: #2ecc71;
  --clr-nephritis: #27ae60;
  --clr-lightgreen: #cff5df;

  --clr-turquoise: #1abc9c;
  --clr-greensea: #16a085;

  /* Red */
  --clr-alizarin: #e74c3c;
  --clr-pomegranate: #c0392b;

  /* Orange */
  --clr-sunflower: #f1c40f;
  --clr-orange: #f39c12;
  --clr-carrot: #e67e22;

  /* Grey */
  --clr-clouds: #ecf0f1;
  --clr-silver: #bdc3c7;
  --clr-concrete: #95a5a6;
  --clr-asbestos: #7f8c8d;
  --clr-wetasphalt: #34495e;
}
