.forgotPassword {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.forgotPassword h1 {
  text-align: center;
  color: var(--clr-greensea);
}

.forgotPassword input {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  height: 50px;
  width: 350px;
  border: 1px solid var(--clr-wetasphalt);
  border-radius: 5px;
  font-size: 100%;
  box-shadow: 2px 2px 5px var(--clr-silver);
}

.forgotPassword small {
  display: block;
  text-align: left;
  width: 350px;
  margin: auto;
  font-weight: 100;
  color: var(--clr-asbestos);
}

.forgotPassword button {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--clr-peterriver);
  transition: background-color 0.2s;
  color: white;
  font-size: 80%;
  border: none;
  outline: none;
  cursor: pointer;
}

.forgotPassword button:hover,
button:active {
  background-color: var(--clr-belizehole);
}

.forgotPassword p {
  margin-top: 10px;
  text-align: center;
}

.forgotPassword a {
  display: inline-block;
  color: var(--clr-belizehole);
}

.forgotPassword a:hover {
  border-bottom: 1px solid var(--clr-belizehole);
}
