.answer {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 10px;
  border: 1px solid var(--clr-silver);
  border-radius: 8px;
  background-color: var(--clr-clouds);
  box-shadow: 1px 1px 5px var(--clr-silver);
  margin-top: 20px;
}

.user {
  margin-right: 25px;
  border: 1px solid var(--clr-silver);
  padding: 8px;
  border-radius: 3px;
}

.user h3 {
  margin-top: 10px;
  font-size: 80%;
  text-align: center;
}

.user img {
  margin-top: 20px;
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.content {
  flex: 1 1 auto;
}

.content h3 {
  margin-top: 10px;
  font-size: 80%;
  font-weight: 300;
}

.content h4 {
  font-size: 80%;
}

.content p {
  margin-top: 20px;
}

.upvotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--clr-silver);
  padding: 8px;
  border-radius: 3px;
  margin-left: 25px;
}

.upvotes h4 {
  font-size: 70%;
  font-weight: 200;
}

.upvotes p {
  font-size: 120%;
  font-weight: 600;
  text-align: center;
}

.upvotes i {
  cursor: pointer;
}

.btnFavourite {
  background-color: var(--clr-nephritis);
  color: white;
  outline: none;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btnFavourite:hover {
  background-color: var(--clr-emerald);
}

.btnUnfavourite {
  background-color: var(--clr-pomegranate);
  color: white;
  outline: none;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-left: 10px;
}

.btnUnfavourite:hover {
  background-color: var(--clr-alizarin);
}
