.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 50px;
  background-color: var(--clr-concrete);
  opacity: 0.9;
  color: white;
  text-align: center;
}

.alert p {
  font-size: 120%;
}

.danger {
  background-color: var(--clr-alizarin);
}

.success {
  background-color: var(--clr-nephritis);
}
