.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 470px;
  height: 100px;
  position: fixed;
  top: 0;
  /* background-color: var(--clr-belizehole); */
  background-image: linear-gradient(
    to bottom right,
    var(--clr-belizehole),
    var(--clr-greensea)
  );
}

.navBar h1 {
  margin: 30px;
  font-size: 300%;
  color: white;
}

.navLinks {
  display: flex;
  align-items: center;
  margin: 20px;
}

.navLinks a {
  margin: 20px;
  color: white;
  transition: color 0.2s;
}

.navLinks a:hover,
a:active {
  color: var(--clr-silver);
}

.searchBar {
  display: flex;
}

.searchBar input[type='search'] {
  width: 300px;
  height: 40px;
  padding: 5px;
  font-size: 100%;
  border-radius: 5px 0px 0px 5px;
  background-color: var(--clr-clouds);
}

.username {
  color: white;
}

ion-icon {
  font-size: 36px;
  color: white;
}
